# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Tarball and compressed
*.7z
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip

# folders
depot_tools/
linkit/
v8/
node-v0.12.7-mips/
mt7688sdk/
node_modules/
node_modules_mips/

# other files
.gclient
.gclient_entries

# Debug files
*.dSYM/
